apiVersion: v2
kubeVersion: ">=1.23.0-0"
name: hyperglass
description: hyperglass helm chart for Kubernetes
type: application
version: 4.0.0
# image: ghcr.io/m0nsterrr/hyperglass
appVersion: "v2.1.0"
maintainers:
  - name: Ludovic Ortega
    email: ludovic.ortega@adminafk.fr
sources:
  - https://github.com/M0NsTeRRR/helm-charts/tree/main/charts/hyperglass
home: https://github.com/thatmattlove/hyperglass
icon: https://artifacthub.io/image/e417b561-5fe4-4ee3-9b89-f67df4069169
dependencies:
  - name: valkey
    version: "0.9.*"
    repository: oci://ghcr.io/valkey-io/valkey-helm
    condition: valkey.enabled
